{
  "Name": "PoseidonProject on dev / Poseidon Project",
  "ServiceId": "com.ibm.cloudoe.orion.client.deploy",
  "Params": {
    "Target": {
      "Url": "https://api.ng.bluemix.net",
      "Org": "Poseidon Project",
      "Space": "dev"
    },
    "Name": "PoseidonProject",
    "Timeout": 60
  },
  "Url": "http://poseidon.mybluemix.net",
  "ManageUrl": "https://ace.ng.bluemix.net#/resources/appGuid=1399097a-09c3-40e4-932e-e9fb4f72f9d8&orgGuid=24df5eff-a8a1-4400-9100-70991e05dabb&spaceGuid=d4912d54-ca7b-4b02-9ebc-aefa3f7ad9b2",
  "Path": "",
  "Type": "Cloud Foundry"
}